<li [ngClass]="{
        'list-group-item': true, 
        'list-group-item-success': appStatus==='allumé',
        'list-group-item-danger': appStatus==='éteint'}">
  <h4 [ngStyle]="{'color': getColor()}">Appareil : {{ appName }} -- Statut : {{ getStatus() }}</h4>
  <input type="text" class="form-control" [(ngModel)]="appName">
  <button class="btn btn-success"
          [disabled]="appStatus === 'allumé'"
          (click)="onSwitchOn()">Allumer</button>
  <button class="btn btn-danger"
          [disabled]="appStatus === 'éteint'"
          (click)="onSwitchOff()">Eteindre</button>
</li>